********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\23-325-0\23-325-0.MAX  *
* Mon Jul 29 15:27:47 2024                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       550      200      100                                                                                 
T2       315      82       200      100                                                                                 
T3       354      3        200      100                                                                                 
T4       433      13       200      100                                                                                 
T5       472      6        200      100                                                                                 
T6       590      1        200      100                                                                                 
T7       1260     4        200      100                                                                                 
